:root {
    --primary-color: #ff9587;
    --line-color: #faf8f9;
    --van-search-left-icon-color: var(--primary-color) !important;
}

body {
    font-size: 14px;
}

.bottom-gray-line {
    border-bottom: 1px solid var(--line-color);
}